body{
    margin: auto;
}

header{
    background-image: url("../img/pattern.png");
    height: 100px;
    width: 60%;
    background-color: rgb(19, 146, 250);
    background-size: contain;
    /*margin: auto;*/
}

div{
    height: 100px;
    width: 60%;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: bottom left;
    /*margin: auto;*/
}