header{
    background-image: url("../img/pattern.png");
    height: 100px;
    background-color: rgb(19, 146, 250);
    background-size: contain;
}

div{
    height: 100px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: bottom left;
}