header{
    background-image: url("../img/pattern.png");
    height: 90px;
    width: 55%;
    background-color: rgb(6, 160, 250);
    margin: auto;
    background-size: 35%;
}

header div{
    background-image: url("../img/logo.svg");
    height: 90px;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom left;
}

main{
    width: 55%;
    margin: auto;
}

main h1{
    text-align: left;
    font-size: 37px;
}

main span{
    color: rgb(21, 189, 255);
}