header{
    background-image: url("../img/pattern.png");
    height: 90px;
    width: 55%;
    background-color: rgb(6, 160, 250);
    margin: auto;
    background-size: 35%;
}

header div{
    background-image: url("../img/logo.svg");
    height: 90px;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom left;
}

main{
    width: 55%;
    margin: auto;
}

main h1{
    text-align: left;
    font-size: 37px;
}

main span{
    color: rgb(21, 189, 255);
}

figure{ 
    margin: 0;
}

ul{
    padding-inline-start: 15px;
}

table thead{
    color: white;
    background-color: rgb(6, 160, 250);
}

thead th{
    width: 10%;
    text-align: left;
}

.first-row{
    background-color: rgb(173, 232, 247);
}

.third-row{
    background-color: rgb(173,232,247);
}